[submodule "fonts"]
	path = fonts
	url = git://github.com/powerline/fonts.git
[submodule "solarized"]
	path = solarized
	url = git://github.com/altercation/solarized.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule ".zprezto"]
	path = .zprezto
	url = git://github.com/sorin-ionescu/prezto.git
[submodule "powerline-fonts"]
	path = powerline-fonts
	url = git://github.com/powerline/fonts.git
[submodule "Vundle.vim"]
	path = Vundle.vim
	url = https://github.com/gmarik/Vundle.vim
[submodule ".vim/bundle"]
	path = .vim/bundle
	url = https://github.com/gmarik/Vundle.vim
[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim
[submodule "/home/Stian/.dotfiles/.vim/bundle/Vundle.vim"]
	path = /home/Stian/.dotfiles/.vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
