[user]
	email = stian.eklund@gmail.com
	name = Stian Eklund

[credential]
      helper = !"`sh -c 'source ~/.githelpers && run_credential_helper'`"
[remote "origin"]
	receivepack = git receive-pack

[github]
	user = stianeklund
	token = c4cd228881d9fb85d5b7c9ba4c36ea49fccabdd2
